body {
    background-color: #F0F0F0;
    font-family: 'Abel', sans-serif;
}

nav {
    background-color: #F0F0F0 !important;
}

#design, #develop, #support, #host {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: white 10px solid;
    color: white;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

#selected-pics #logo, #selected-pics #logo2, #selected-pics #logo3, #selected-pics #logo4 {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bolder;
}
@media screen and (min-width: 300px) and (max-width: 768px){
    #design, #develop, #support, #host {
        width: 150px;
        height: 150px;

    }



    #logo, #design {
    background-color: #E6563B !important;
}

#logo2, #develop {
    background-color: #EB9D3A !important;
}

#logo3, #support {
    background-color: #7CB06C !important;
}

#logo4, #host {
    background-color: #00ABA9 !important;
}

#selected-pics img {
    border: #E6E6E6 solid 10px;
}
#selected-pics {
    margin-top: 4rem;
}

#selected-pics p {
    flex-grow: 1;
    text-align: start;
}

#title,#title2 {
    margin-top: 4rem;
}

h1, h3, h2 {
    font-family: 'Anton', sans-serif;
}

.side-links img {
    border: #E6E6E6 5px solid;
    align-content: flex-end;
}

#work {
    padding-right: 3rem !important;
}

#last {
    padding-left: 3rem !important;
}

h1 {
    font-size: 5rem;
    font-weight: bolder;
}

h3 {
    font-size: 3rem !important;
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    #selected-pics img {
        width: 325px;
        height: 250px;
    }
}

