/*@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap');*/

/*font-family: 'Abel', sans-serif;*/
/*font-family: 'Anton', sans-serif;*/

body {
    background-color: #F0F0F0;
}

#design, #develop, #support, #host {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: white 10px solid;
    color: white;
    font-weight: bolder;
}

#selected-pics #logo, #selected-pics #logo2, #selected-pics #logo3, #selected-pics #logo4 {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: white 2px solid;
    color: black;
    font-weight: bolder;
}

#logo, #design {
    background-color: #E6563B !important;
}

#logo2, #develop {
    background-color: #EB9D3A !important;
}

#logo3, #support {
    background-color: #7CB06C !important;
}

#logo4, #host {
    background-color: #00ABA9 !important;
}